@page "/"
<button onclick="@clearAllFormMap">Clear SVG from RealTimeMap</button>
<RealTimeMap @ref="rtm" Parameters="@loadParameters" height="calc(100vh - 6rem)" width="calc(100vw - 18rem)" OnAfterMapLoaded="@onAfterMapLoaded" />


@code {
    RealTimeMap rtm;
    RealTimeMap.LoadParameters loadParameters = new RealTimeMap.LoadParameters()
    {
        location = new RealTimeMap.Location()
        {
            latitude = 44.444433971415684,
            longitude = 26.093844322972007
        },
        zoomLevel = 8,
    };
    private async Task onAfterMapLoaded(RealTimeMap.MapEventArgs args)
    {
        List<RealTimeMap.SVGPoint> svgPoints = new List<RealTimeMap.SVGPoint>();
      
        svgPoints.Add(new RealTimeMap.SVGPoint()
        {
            location = new RealTimeMap.Location()
            {
                latitude = 44.444433971415684,
                longitude = 26.093844322972007
            },
            dimension = 40,
            htmlContent = "<defs><radialGradient id='grad6' cx='50%' cy='50%' r='50%' fx='50%' fy='50%'><stop offset='0%' stop-color='red' /><stop offset='100%' stop-color='orange' /></radialGradient></defs><polygon  style='fill-opacity:0.42;stroke:red;stroke-width:2' points='20,20 40,30 50,10 60,30 80,20 70,40 90,50 70,60 80,80 60,70 50,90 40,70 20,80 30,60 10,50 30,40' fill='url(#grad6)'  />",

        });
       
        svgPoints.Add(new RealTimeMap.SVGPoint()
        {
            location = new RealTimeMap.Location()
            {
                latitude = 44.184639635840284,
                longitude = 28.63539816816475
            },
            dimension = 28,
            visibilityZoomLevel = new RealTimeMap.VisibilityZoomLevel()
            {
                maxZoomLevel = 14,
                minZoomLevel = 6
            },
            htmlContent = "<defs><radialGradient id='grad8' cx='50%' cy='50%' r='50%' fx='50%' fy='50%'><stop offset='0%' stop-color='blue' /><stop offset='100%' stop-color='azure' /></radialGradient></defs><polygon  style='fill-opacity:0.42;stroke:navy;stroke-width:2' points='20,20 40,30 50,10 60,30 80,20 70,40 90,50 70,60 80,80 60,70 50,90 40,70 20,80 30,60 10,50 30,40' fill='url(#grad8)'  />",

        });

        svgPoints.Add(new RealTimeMap.SVGPoint()
        {
            location = new RealTimeMap.Location()
            {
                latitude = 44.319745246814875, 
                longitude = 23.80196820038807
            },
            dimension = 24,
            visibilityZoomLevel = new RealTimeMap.VisibilityZoomLevel()
            {
                maxZoomLevel = 14,
                minZoomLevel = 6
            },
            htmlContent = "<defs><radialGradient id='grad20' cx='50%' cy='50%' r='50%' fx='50%' fy='50%'><stop offset='0%' stop-color='green' /><stop offset='100%' stop-color='white' /></radialGradient></defs><polygon  style='fill-opacity:0.42;stroke:green;stroke-width:2' points='20,20 40,30 50,10 60,30 80,20 70,40 90,50 70,60 80,80 60,70 50,90 40,70 20,80 30,60 10,50 30,40' fill='url(#grad20)'  />",

        });

        svgPoints.Add(new RealTimeMap.SVGPoint()
        {
            location = new RealTimeMap.Location()
            {
                latitude = 45.441193449385146, 
                longitude = 28.0359243625443
            },
            dimension = 20,
            visibilityZoomLevel = new RealTimeMap.VisibilityZoomLevel()
            {
                maxZoomLevel = 14,
                minZoomLevel = 6
            },
            htmlContent = "<defs><radialGradient id='grad22' cx='50%' cy='50%' r='50%' fx='50%' fy='50%'><stop offset='0%' stop-color='white' /><stop offset='100%' stop-color='yellow' /></radialGradient></defs><polygon  style='fill-opacity:0.62;stroke:gray;stroke-width:4' points='20,20 40,30 50,10 60,30 80,20 70,40 90,50 70,60 80,80 60,70 50,90 40,70 20,80 30,60 10,50 30,40' fill='url(#grad22)'  />",

        });



        foreach (var svgPoint in svgPoints)
            await args.sender.Geometric.DisplaySVGFromHTML.addItem(svgPoint);
    }

    private async Task clearAllFormMap()
    {
        await rtm.Geometric.DisplaySVGFromHTML.clearAll();
    }

}