@page "/"

<PageTitle>Index</PageTitle>

<h1>LeafletForBlazor NuGet package</h1>


<SurveyPrompt Title="How to scaling GeoJSON layer and Tooltips?" />

<Map
width="800px"
height="700px"
    Parameters="@parameters"
    GeoJSON_urls="@urls.ToArray()"
></Map>

@code {
    Map.LoadParameters parameters = new Map.LoadParameters()
        {
            location = new Map.Location()
            {
                longitude = 26.097133,
                latitude = 44.446165
            },
            zoom_level = 16,
            map_scale = new Map.MapScale()
            {
                has = true,
                meters = true,
                miles = false
            }
        };

        List<string> urls = new List<string>() { 
              "http://localhost:5175/polygons.json",

        };
}
