@page "/"

<PageTitle>Index</PageTitle>
<button  @onclick="movePoint">Move point</button>
<RealTimeMap 
    @ref="realTimeMap" 
    Parameters="@parameters"  
    width="680px" 
    height="640px">
</RealTimeMap>

@code{
    RealTimeMap? realTimeMap;
    //RealTimeMap parameters
    RealTimeMap.LoadParameters parameters = new RealTimeMap.LoadParameters()  //general map settings
        {
            zoom_level = 18,                            //zoom level of RealTimeMap view
            location = new RealTimeMap.Location()       //center ov the RealTimeMap view
            {
                latitude = 44.4501715,
                longitude = 26.1107672,
            }
        };
    //coordinate of point, to move single point
    List<List<double>> coordinates = new List<List<double>>() {
            new List<double>() { 44.4502578, 26.1108199 },
            new List<double>() { 44.4500215, 26.1105407 },
            new List<double>() { 44.4497369, 26.1093086 },
            new List<double>() { 44.4496145 , 26.1088460 },
            new List<double>() {  44.4491875, 26.1079328 }
        };
    //appearance of point on RealTimeMap
    RealTimeMap.PointSymbol symbol = new RealTimeMap.PointSymbol()
        {
            color = "red",
            fillColor = "yellow",
            radius = 10,
            weight = 3,
            opacity = 1,
            fillOpacity = 1
        };
    bool run = false;
    int pas = 0;
    private async Task movePoint()
        {
            run = !run;
            for (var i = 0; i < 1000; i++)
            {
                pas = i % coordinates.Count;
                //info text on point
                RealTimeMap.PointTooltip tooltip = new RealTimeMap.PointTooltip()
                    {
                        content = $"{Math.Round(coordinates[pas][0], 3)},{Math.Round(coordinates[pas][1], 3)}",
                        opacity = 0.6
                    };
                if(realTimeMap!=null)
                    await realTimeMap.movePoint(coordinates[pas].ToArray(), symbol, tooltip);//move single point on RealTimeMap
                await Task.Delay(1000);
                if (run == false)
                    return;
            }
        }
}
