@page "/"
@using RealTimeMap_Geometric.Points_collection.data
<button @onclick="upload">Upload</button>
<button @onclick="addMore">Add more</button>
<button @onclick="delete">Delete some points</button>
<button @onclick="deleteAll">Delete all</button>
<RealTimeMap @ref="realTimeMap" height="680px" width="680px"></RealTimeMap>

@code{
    RealTimeMap? realTimeMap;
    DataSource dataSource = new DataSource();
    public async Task upload()
    {
        if (realTimeMap != null)
            await realTimeMap.Geometric.Points.upload(dataSource.pointsStart, true);
    }
    public async Task addMore()
    {
        if (realTimeMap != null)
            await realTimeMap.Geometric.Points.add(dataSource.pointsMore.ToArray());
    }
    public async Task delete()
    {
        string[] guids = new string[4] { "18466d7f-0689-4b8e-a2ee-28e5cb27f86e", "28466d7f-0689-4b8e-a2ee-28e5cb28f86f", "48466d7f-0689-4b8e-a2ee-28e5cb28f86a", "48466d7f-0689-4b8e-a2ee-28e5cb28f46f" };
        if (realTimeMap != null)
            await realTimeMap.Geometric.Points.delete(guids);
    }
    public async Task deleteAll()
    {
        if (realTimeMap != null)
            await realTimeMap.Geometric.Points.delete();
    }
        }